.app-container {
  /* border: 1px red solid; */
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.summary-area,
.transaction-area {
  /* border: 1px red solid; */
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 2rem 0;
}
.transaction-area {
  height: 300px;
}
.summary-area > div,
.transaction-area > div {
  flex: 1;
  margin: 1rem;
}

.con {
  background-color: #f0f9ff;
  border: 1px solid #b3d4fc;
  border-radius: 10px;
  padding: 20px;
  align-items: center;
}

@media (max-width: 600px) {
  .summary-area,
  .transaction-area {
    flex-direction: column;
    height: auto;
  }
}
